@import url("fonts.css");
@import url("font-awesome/css/font-awesome.min.css");
@import url("simple-line-icons/simple-line-icons.css");

#main {
	color: blue;
	background: black;
	padding-top: 108px;
	padding-bottom: 60px;
}
#main .header {
	font-weight: bold;
	font-size: 20px;
}
#main .footer {
	color: yellow;	
}